<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>House Price Prediction</title>
  </head>
  <body class="bg-dark"  style="margin:50px;">
    <div class="container">
        <div class="row">
            <div class="card" style="width: 100%;height:100%;margin: top 50px;">
                <div class="card-header" style="text-align: center;">
                    <!-- <img src="dream.png" alt="House Price Prediction Logo" style="width: 50px; height: auto;"> -->
                    <h1>House Price Predictor</h1>
                </div>
                <div class="card-body">
                    <!-- <form method="post" action="/some_url" accept-charset="utf-8"> -->
                    <form method="post" action="/predict" accept-charset="utf-8">
                        <div class="row">

                            <div class="col-md-6 form-group" style="text-align:center">
                            
                                <label><b>Select the Location:</b></label>
                                <select class="selectpicker form-control" id="" name="location" required="1">
                                    {% for location in locations %}
                                        <option value="{{location}}">{{location}}</option>
                                    {% endfor %}

                                </select>
                            
                            </div>

                            <div class="col-md-6 form-group" style="text-align:center">
                            
                                <label><b>Enter BHK:</b></label>
                                <input type="number" class="form-control" id="bhk" name="bhk" placeholder="Enter BHK" required>
                            
                            </div>

                            <div class="col-md-6 form-group" style="text-align:center">
                            
                                <label><b>Enter Number of Bathrooms:</b></label>
                                <input type="number" class="form-control" id="bath" name="bath" placeholder="Enter Number of Bathrooms" required>
                            
                            </div>

                            <div class="col-md-6 form-group" style="text-align:center">
                            
                                <label><b>Enter Square Feet:</b></label>
                                <input type="number" class="form-control" id="total_sqft" name="total_sqft" placeholder="Enter Square Feet" required>
                            
                            </div>

                            <div class="col-md-12 form-group">
                                <button class="btn btn-primary form-control" onclick="send_data()">Predict Price</button>                               
                                
                            </div>


                        </div>
                    </form>
                    <br>
                    <div class="col-md-12" style="text-align: center;">
                        <h3><span id="prediction"></span></h3>
                    </div>


                </div>

            </div>
        </div>
    </div>
    



    <script>
        
        function form_handler(event){
            event.preventDefault();   //Don't submit the form normally
        }


/* 
        function send_data(){
            document.querySelector('form').addEventListener("submit",form_handler);

            var formDataObject =new FormData(document.querySelector('form'));

            var xhr = new XMLHttpRequest();

            xhr.open('POST','/predict',true);            

            document.getElementById("prediction").innerHTML = "Wait Predicting Price!....";

            xhr.onreadystatechange = function(){
                if(xhr.readyState == XMLHttpRequest.DONE){
                    document.getElementById('prediction').innerHTML = "Prediction: Rs "+xhr.responseText;
                }
                else{
                    document.getElementById('prediction').innerHTML = "Enter correct detail";
                }
            };

            xhr.onload = function(){};
            xhr.send(formDataObject);

        }

         */

         function send_data() {
  document.querySelector('form').addEventListener("submit", form_handler);

  var formData = new FormData(document.querySelector('form'));
  var isEmpty = false; // Flag to track empty fields

  // Loop through form elements and check for emptiness
  for (var pair of formData.entries()) {
    if (!pair[1].trim()) { // Check if value is empty after trimming whitespace
      isEmpty = true;
      break; // Exit loop if an empty field is found
    }
  }

  if (isEmpty) {
    document.getElementById('prediction').innerHTML = "Enter all values";
    return false; // Prevent form submission
  }

  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/predict', true);
  document.getElementById("prediction").innerHTML = "Wait Predicting Price!....";

  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      if (xhr.status === 200) {
        document.getElementById('prediction').innerHTML = "Prediction: Rs " + xhr.responseText;
      } else {
        document.getElementById('prediction').innerHTML = "Error: " + xhr.statusText;
      }
    }
  };

  xhr.onload = function() {};
  xhr.send(formData);
}

    </script>











    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>